
    body {
      background-color: #f7fcef; 
      font-family: Arial, sans-serif;
      padding: 20px 40px;
      color: #000;
    }

    
    h2 {
      font-weight: 700;
      margin-bottom: 24px;
    }

    
    .core-value-container {
      display: flex;
      max-width: 600px;
      gap: 140px; 
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }

   
    .column {
      display: flex;
      flex-direction: column;
      gap: 12px; 
    }
