body {
  background-color: #fcf9ef;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #000;
}
.core-value {
  max-width: 700px;
  background: #f7faef;
  border-radius: 8px;
  font-family: sans-serif;
}

.core-value h2 {
  margin-bottom: 15px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
}

.row > div:nth-child(2) {
  text-align: left;
}
