body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    position: relative; 
    min-height: 100vh; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-image: url('assets/img/Fotosantamaria.jpeg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    opacity: 0.5;
    z-index: -1; 
}

.login-container {
    position: relative; 
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(55, 219, 118, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
