.profile-box {
  padding: 30px;
  padding-top: 0px;
  border: 2px solid #749ec6;
  border-radius: 8px;
  background-image: url("assets/img/Fotosantamaria.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #2a2a2a;
  overflow: hidden;
  margin: 0px;
  box-sizing: border-box;
}

.profile-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  z-index: 1;
}

/* Konten di atas overlay */
.profile-box > * {
  position: relative;
  z-index: 2;
}

.profile-box h1 {
  font-size: 28px;
  font-weight: 900;
  color: #006837; /* hijau gelap */
  margin-bottom: 5px;
}

.profile-box h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 20px 0;
  color: #606060;
}

.profile-box p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 0;
}

.title {
  text-align: center;
  color: #006837;
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 40px;
  color: #000000;
  font-size: 14px;
}

.testimonials {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col {
  width: 30%;
  min-width: 280px;
}

.profile {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

.profile img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.profile span {
  color: #1c8b4c;
  font-size: 13px;
}

footer {
  margin-top: 60px;
  text-align: center;
  padding-top: 30px;
  border-top: 2px solid #1c8b4c;
}

.footer h2 {
  color: #1c8b4c;
  margin-bottom: 5px;
}

.phone {
  font-size: 18px;
  margin-top: 5px;
}

.col {
  text-align: justify;
}

.flex-parent {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* background-color: #f7fdf7; */
}

.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: auto;
  height: 60px;
}

.title1 {
  font-size: 24px;
  color: #08662c;
  font-weight: 600;
  line-height: 1.1;
}

.menu a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 22px;
  color: #444;
  font-weight: 500;
}

.menu a:hover {
  color: #0d642e;
}
